---
// Libs
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { Post } from '../../types';
import { getEntry } from 'astro:content';
import { urlForImage } from '@sanity/lib/url-for-image';

//Assets
import Dummy from '@assets/posts/dummy__01.jpg';
import BlogCardInfo from '@components/Blog/BlogCardInfo.astro';

interface Props {
	post: { type: 'collection'; data: CollectionEntry<'posts'> } | { type: 'sanity'; data: Post };
}

const { post } = Astro.props;

let firstTool;
let author;
if (post.type === 'collection') {
	author = await getEntry('authors', post.data.data.author.id);
	firstTool = await getEntry('tools', post.data.data.tools[0].id);
}
---

{
	post.type === 'collection' && (
		<article>
			<a href={`/post/${post.data.slug}`} class="group block overflow-hidden rounded-lg">
				<div class="aspect-video">
					{post.data.data.cover && post.data.data.coverAlt ? (
						<Image
							class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
							src={post.data.data.cover}
							alt={post.data.data.coverAlt}
							quality={80}
							loading="lazy"
						/>
					) : (
						<Image
							class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
							src={Dummy}
							alt="Sidetool is your ride-or-die partner"
							quality={80}
							loading="lazy"
						/>
					)}
				</div>
			</a>
			<BlogCardInfo
				tag={firstTool?.data.name ?? 'Tool'}
				title={post.data.data.title}
				date={post.data.data.date}
				isMain={false}
			/>
		</article>
	)
}{
	post.type === 'sanity' && (
		<article>
			<a href={`/post/${post.data.slug.current}`} class="group block overflow-hidden rounded-lg">
				<div class="aspect-video">
					{post.data.mainImage ? (
						<Image
							class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
							src={urlForImage(post.data.mainImage).url()}
							alt={post.data.mainImage.alt || 'Blog post image'}
							quality={80}
							loading="lazy"
							inferSize={true}
						/>
					) : (
						<Image
							class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
							src={Dummy}
							alt="Sidetool is your ride-or-die partner"
							quality={80}
							loading="lazy"
						/>
					)}
				</div>
			</a>
			<BlogCardInfo
				tag={post.data.tags?.[0] ?? 'Post'}
				title={post.data.title}
				date={new Date(post.data.publishedAt)}
				isMain={false}
			/>
		</article>
	)
}
