---
//Libs
import { urlForImage } from 'src/sanity/lib/url-for-image';
import { Image } from 'astro:assets';

interface Props {
	gallery: {
		asset?: {
			_ref: string;
			_type: 'reference';
			_weak?: boolean;
		};
	}[];
	imgAlt: string;
	mainColor: string;
}

const { gallery, imgAlt, mainColor } = Astro.props;
---

<div class="page__section light relative px-3 py-12 sm:px-0 sm:pb-12 sm:pt-0">
	<div class="absolute left-0 top-0 z-0 h-1/2 w-full sm:hidden" style={`background-color: ${mainColor}`}></div>
	<div id="gallery__swiper" class="relative z-10 sm:hidden">
		<div class="swiper-wrapper">
			{
				gallery.map((image) => (
					<div class="swiper-slide h-[176px]">
						<Image
							src={urlForImage(image).url()}
							alt={imgAlt}
							inferSize={true}
							class="slide-up h-full w-full rounded-lg object-cover shadow-lg"
						/>
					</div>
				))
			}
		</div>
	</div>

	<div class="relative z-10 mx-auto hidden flex-col gap-4 sm:flex">
		<div
			id="gallery__background"
			class="absolute left-0 top-0 z-0 h-1/2 w-full"
			style={`background-color: ${mainColor}`}
		>
		</div>
		<div
			id="first__row"
			class="relative z-10 mx-auto grid w-full grid-cols-1 gap-4 sm:grid-cols-2 sm:px-4 sm:pt-12 md:px-8 lg:px-16 xl:px-24 2xl:max-w-desktop 2xl:px-28"
		>
			{
				gallery
					?.slice(0, 2)
					.map((image) => (
						<Image
							src={urlForImage(image).url()}
							alt={imgAlt}
							class="slide-up h-full w-full rounded-lg object-cover shadow-lg"
							inferSize={true}
						/>
					))
			}
		</div>
		<div
			class="relative z-10 mx-auto grid w-full grid-cols-1 gap-3 sm:grid-cols-3 sm:px-4 md:px-8 lg:px-16 xl:px-24 2xl:max-w-desktop 2xl:px-28"
		>
			{
				gallery
					?.slice(2, 5)
					.map((image) => (
						<Image
							src={urlForImage(image).url()}
							alt={imgAlt}
							class="slide-up h-auto w-full rounded-lg shadow-lg"
							inferSize={true}
						/>
					))
			}
		</div>
	</div>
</div>

<style>
	.swiper-slide {
		height: 176px;
	}
</style>

<script>
	import Swiper from 'swiper';
	import 'swiper/css';
	const bg = document.getElementById('gallery__background');
	const firstRow = document.getElementById('first__row');

	function setHeight() {
		if (firstRow && bg) {
			bg.style.height = `${firstRow.offsetHeight / 2 + 28}px`;
		}
	}

	document.addEventListener('DOMContentLoaded', setHeight);
	window.addEventListener('resize', setHeight);

	// 48 + 28

	new Swiper('#gallery__swiper', {
		freeMode: true,
		slidesPerView: 1.2,
		spaceBetween: 24,
		breakpoints: {
			380: {
				slidesPerView: 1.4,
			},
			440: {
				slidesPerView: 1.6,
			},
			500: {
				slidesPerView: 1.8,
			},
			620: {
				slidesPerView: 2,
			},
		},
	});
</script>
