---
//Libs
import { urlForImage } from 'src/sanity/lib/url-for-image';
import { Image } from 'astro:assets';

interface Props {
	quote: string;
	name: string;
	role: string;
	avatar?: {
		asset?: {
			_ref: string;
			_type: 'reference';
			_weak?: boolean;
		};
	};
}

const { quote, name, role, avatar } = Astro.props;
---

<div class="container__wide page__section light">
	<section class="fade-in space-y-6 px-6 py-7 sm:py-20">
		<p class="text-pretty text-center text-[26px] leading-[1.5] text-secondary md:text-4xl md:leading-[1.5]">
			“{quote}”
		</p>

		<div class="mx-auto flex items-center justify-center gap-5">
			{
				avatar ? (
				<div class="h-[52px] w-[52px] shrink-0 overflow-hidden rounded-full">
					<Image src={urlForImage(avatar).url()} alt={name} inferSize class="h-full w-full object-cover" />
				</div>
				<div class="flex flex-col">
					<span class="text-xl font-medium leading-[1.4]">{name}</span>
					<span class="text-sm leading-[1.4]">{role}</span>
				</div>
				) : (
					<div class="flex flex-col">
					<span class="text-xl text-center font-medium leading-[1.4]">{name}</span>
					<span class="text-sm text-center leading-[1.4]">{role}</span>
				</div>
				)
			}
		</div>
	</section>
</div>
